<div class="row">
    <div class="col-lg-6">
        <h2>{{'feature.heading' |translate}}</h2>
        <p>{{'feature.description' |translate}}</p>
        <div class="col-lg-6">
            <h4>{{'feature.sub.description' |translate}}</h4>
        </div>
        <ul>
            <li>{{'feature.sub.features.f-one' | translate}}</li>
            <li>{{'feature.sub.features.f-two' |translate}}</li>
            <li>{{'feature.sub.features.f-three' |translate}}</li>
            <li>{{'feature.sub.features.f-four' |translate}}</li>
            <li>{{'feature.sub.features.f-five' |translate}}</li>
            <li>{{'feature.sub.features.f-six' |translate}}</li>
        </ul>  
    </div>   
    <div class="col-lg-6">
        <img class="img-fluid rounded" src="/assets/images/8.jpg" alt="">
    </div>
    <div class="col-lg-12">
        <p>{{'feature.sub.features.des' |translate}}</p>
    </div>
</div>
<!-- /.row -->

<hr>

<!-- Call to Action Section -->
<div class="row mb-4">
    <div class="col-md-8">
        <p>{{'feature.sub.features.followInfo.des' |translate}}</p>
    </div>
    <div class="col-lg-4">
        <button class="primary-btn l-25"  [routerLink]="['/gallery']">{{'VieweOurWork.title' |translate}}
            <span class="lnr lnr-arrow-right"></span>
        </button>
    </div>
</div>